body {
    background-image: url("https://wallpaperaccess.com/full/2065275.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 200px 200px 200px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'SF Pro', sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 24px;
    margin-top: 32px;
}

h1 {
    text-align: center;
    margin-top: 0px;
}

.button {
    width: 9em;
    height: 2em;
    border-radius: 30px;
    border-width: thin;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 40px 0 rgba(0, 0, 0, .1);
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(214,214,214,1) 50%, rgba(255,255,255,1) 80%);
}

.inputPlace {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption {
    text-align: center;
}

.socials {
    color: white;
    text-align: center;
}

.main {
    padding: 30px 50px 50px 50px;
    background-color: #efefee;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .3);
    font-family: 'SF Pro', sans-serif;
}

.tab {
    background-color: #2a2a2b;
    width: 100%;
    height: 40px;
    border-radius: 10px 10px 0 0;
    display: flex;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .3);
}

.intro {
    width: 100%;
    height: 40px;
    background-color: #474748;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .3);
    display: flex;
    margin: 0 auto;
}

.back {
    padding: 5px 5px 5px 10px;
    height: 10px;
    width: 10px;
    font-size: larger;
    margin: 3px 0 0 5px;
    font-family: 'SF Pro', sans-serif;
    text-align: center;
}

.next {
    color: darkgray;
    padding: 5px 5px 5px 10px;
    height: 10px;
    width: 10px;
    font-size: larger;
    margin: 3px 0 0 5px;
    font-family: 'SF Pro', sans-serif;
    text-align: center;
}

.miniTitle {
    height: 40px;
    background-color: white;
    margin: 0 auto;
    height: 10%;
    width: 20%;
    border-radius: 0px 0px 2px 2px;
}

.miniTitle p {
    color: white;
    font-family: 'SF Pro', sans-serif;
    font-weight: bold;
    text-align: center;
}

.green {
    height: 20px;
    width: 20px;
    background-color: #36c84b;
    border-radius: 50%;
    margin: 10px 0px 5px 10px;
}

.yellow {
    height: 20px;
    width: 20px;
    background-color: #fdbc40;
    border-radius: 50%;
    margin: 10px 0px 5px 10px;
}

.red {
    height: 20px;
    width: 20px;
    background-color: #fc5753;
    border-radius: 50%;
    margin: 10px 0px 5px 10px;
}

.grey3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 10px 0px 0px 10px;
    align-items: right;
}

.grey2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 10px 5px 0px 10px;
    align-items: right;
}

.grey1 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 10px 10px 0px 10px;
    align-items: right;
}

.img {
    width: 50%;
    float: right;
}

.card1 {
    padding: 20px 20px 20px 20px;
    display: block;
}

.card2 {
    color: white;
    background-color: #2a2a2b;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    display: block;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .3);
}

.box1 {
    width: 100%;
    height: 20px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.9);
}

.box2 {
    width: 100%;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.9);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}